# Waterflow Sensor Pin for Frequency
WATERFLOW_FREQUENCY_PIN=9

# Pins for Analog to Digital Converter (ADC) Chips
ADC_CLOCK_PIN=10
ADC_MOSI_PIN=11
ADC_MISO_PIN=12
ADC_CS_PIN=13

# Amount of channels used on Analog to Digital Converter (ADC) Chips
# Assumes at the moment that channels are populated from 0 to n incrementing by one.
ADC_CHANNELS_IN_USE=1